/*? ToDo List CSS  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --accent-color: red;
    --box-bg-color: #2f2f2f;
    --font-color: white;
}

::selection{
    background-color: white;
    color: var(--accent-color);
}

body {
    width: 100%;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40%;
    height: auto;
    margin: 10% 0;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--box-bg-color);
    border-radius: 10px;
    box-shadow: 0px 0px 3px var(--accent-color);
}

.container h1 {
    color: var(--font-color);
    margin: 1%;
}

/*? Input CSS  */
.form {
    width: 90%;
    border-radius: 10px;
    padding: 2% 4%;
    background-color: var(--accent-color);
    margin: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%
}

.form .note-input {
    border: none;
    outline: none;
    font-size: 1.1rem;
    border-radius: 5px;
    height: 4vh;
    width: 20vw;
    background-color: transparent;
    color: var(--font-color);
}

.form .note-input::placeholder {
    color: var(--font-color);
    font-weight: 700;
}

/* Add Button */
.form button {
    background-color: transparent;
    border: none;
}

.form button .add-btn {
    font-size: 1.5rem;
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/*? Todo list Container CSS  */
.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);

}

.todo-container h2 {
    margin: 2% 0;
    border-bottom: 2px solid white;
}

.todo-list {
    list-style: none;
}

/*? Dynamic CSS for JS  */
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin: 3% 0;
    padding: 2%;
    transition: all 0.2s ease-in-out;
}

.todo li {
    flex: 1;
}

.complete-btn,
.trash-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
}

.todo button i {
    color: white;
    font-size: 1.2rem;
    pointer-events: none;
}

/* completed */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}